// l-global.less
// global layout styles
// -----------------------------------------------------------------

.wrapper {
    .clearfix();
}

nav {
    float: left;
    width: 25%;
}

.layout-section {
    float: left;
    width: 75%;
}